ZID_TOKEN={{zid_token}}
MANAGER_TOKEN={{manager_token}}
RACK_ENV=development
REDIS_URL=redis://192.168.56.12:6379
SECRET={{secret}}
QOYOD_CLIENT_ID={{client_id}}
QOYOD_CLIENT_SECRET={{client_secret}}
ADDR=0.0.0.0
PORT=9292
QOYOD_URL={{qoyod_url}}
DB_URL=mysql2://root:root@192.168.56.12:3306/qoyod_integration_dev
