version: '3'
services:
  web:
    image: "{{image_name}}"
    command: |
      foreman start
    ports:
      - 9292:9292
      - 5440:5440
    volumes:
      - /opt/.app.env:/app/.app.env
    env_file:
      - /opt/.app.env
