version: '3'
services:
  web:
    image: "{{image_name}}"
    deploy:
      replicas: 1
    command: |
      foreman start
    ports:
      - 9292:9292
      - 5440:5440
    volumes:
      - /opt/app.env:/app/.app.env
      - /var/log/thin.log:/app/log/thin.log
      - /var/log/thin.0.log:/app/log/thin.0.log
      - /var/log/thin.9292.log:/app/log/thin.9292.log
    env_file:
      - /opt/app.env
